<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdateUserInformation</servlet-name>
        <servlet-class>Controller.User.UpdateUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPostController</servlet-name>
        <servlet-class>Controller.Marketing.InsertPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADInsertUserController</servlet-name>
        <servlet-class>Controller.Admin.ADInsertUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Controller.Admin.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADUserListController</servlet-name>
        <servlet-class>Controller.Admin.ADUserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADUserEditController</servlet-name>
        <servlet-class>Controller.Admin.ADUserEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADViewUserController</servlet-name>
        <servlet-class>Controller.Admin.ADViewUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTEditPostController</servlet-name>
        <servlet-class>Controller.Marketing.Post.MKTEditPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTInsertPostController</servlet-name>
        <servlet-class>Controller.Marketing.Post.MKTInsertPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTPostListController</servlet-name>
        <servlet-class>Controller.Marketing.Post.MKTPostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTViewPostController</servlet-name>
        <servlet-class>Controller.Marketing.Post.MKTViewPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTEditSliderController</servlet-name>
        <servlet-class>Controller.Marketing.Sliders.MKTEditSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTViewSliderController</servlet-name>
        <servlet-class>Controller.Marketing.Sliders.MKTViewSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTSliderChangeStatusController</servlet-name>
        <servlet-class>Controller.Marketing.Sliders.MKTSliderChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTSliderListController</servlet-name>
        <servlet-class>Controller.Marketing.Sliders.MKTSliderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>Controller.Customer.Blog.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controller.Customer.Blog.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailsController</servlet-name>
        <servlet-class>Controller.Customer.Cart.CartDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCartController</servlet-name>
        <servlet-class>Controller.Customer.Cart.DeleteProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityController</servlet-name>
        <servlet-class>Controller.Customer.Cart.UpdateQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.Customer.Product.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>Controller.Customer.Product.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controller.Customer.Product.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controller.Customer.Account.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.Customer.Account.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>Controller.Customer.Account.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.Customer.Account.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderController</servlet-name>
        <servlet-class>Controller.Customer.Order.MyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInformationController</servlet-name>
        <servlet-class>Controller.Customer.Order.OrderInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.Common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>Controller.Common.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>Controller.Common.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailerController</servlet-name>
        <servlet-class>Controller.Common.MailerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordProcessingController</servlet-name>
        <servlet-class>Controller.Common.PasswordProcessingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTchangeStatusPostController</servlet-name>
        <servlet-class>Controller.Marketing.Post.MKTchangeStatusPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.Customer.Account.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailController</servlet-name>
        <servlet-class>Controller.Marketing.Feedback.FeedbackDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContactController</servlet-name>
        <servlet-class>Controller.Customer.Cart.CartContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListController</servlet-name>
        <servlet-class>Controller.Marketing.Feedback.FeedbackListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADSettingListController</servlet-name>
        <servlet-class>Controller.Admin.Settings.ADSettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusSettingController</servlet-name>
        <servlet-class>Controller.Admin.Settings.ChangeStatusSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCompletionController</servlet-name>
        <servlet-class>Controller.Customer.Cart.CartCompletionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADViewSettingController</servlet-name>
        <servlet-class>Controller.Admin.Settings.ADViewSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADEditSettingController</servlet-name>
        <servlet-class>Controller.Admin.Settings.ADEditSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADAddSettingController</servlet-name>
        <servlet-class>Controller.Admin.Settings.ADAddSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTProductListController</servlet-name>
        <servlet-class>Controller.Marketing.Product.MKTProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTProductDetailsController</servlet-name>
        <servlet-class>Controller.Marketing.Product.MKTProductDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTEditProductController</servlet-name>
        <servlet-class>Controller.Marketing.Product.MKTEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTInsertProductController</servlet-name>
        <servlet-class>Controller.Marketing.Product.MKTInsertProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTChangeProductStatusController</servlet-name>
        <servlet-class>Controller.Marketing.Product.MKTChangeProductStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleOrderListController</servlet-name>
        <servlet-class>Controller.Sale.Order.SaleOrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeatureListController</servlet-name>
        <servlet-class>Controller.Admin.UserAuthorzition.FeatureListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessResetPassword</servlet-name>
        <servlet-class>Controller.Customer.Account.ProcessResetPassword</servlet-class>
        <init-param>
            <description>Duration time to reset password</description>
            <param-name>ExpirationTime</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controller.Customer.Feedback.FeedbackController</servlet-class>
        <init-param>
            <description>The maximum number of images that user can post on a feedback</description>
            <param-name>maxNumberOfImages</param-name>
            <param-value>3</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CustomerList</servlet-name>
        <servlet-class>Controller.Marketing.Customer.CustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>Controller.Admin.Dashboard.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTDashboardController</servlet-name>
        <servlet-class>Controller.Marketing.Dashboard.MKTDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardController</servlet-name>
        <servlet-class>Controller.Sale.Dashboard.SaleDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfileController</servlet-name>
        <servlet-class>Controller.Customer.Account.UpdateUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartFromOrder</servlet-name>
        <servlet-class>Controller.Customer.Order.AddToCartFromOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductOrder</servlet-name>
        <servlet-class>Controller.Customer.Order.DeleteProductOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>Controller.Customer.Order.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>Controller.Customer.Order.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityOrderController</servlet-name>
        <servlet-class>Controller.Customer.Order.UpdateQuantityOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCustomer</servlet-name>
        <servlet-class>Controller.Marketing.Customer.AddNewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>Controller.Marketing.Customer.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>Controller.Marketing.Customer.ViewCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserInformation</servlet-name>
        <url-pattern>/user/updateuserinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPostController</servlet-name>
        <url-pattern>/InsertPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADInsertUserController</servlet-name>
        <url-pattern>/user/addnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADUserListController</servlet-name>
        <url-pattern>/user/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADUserEditController</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADViewUserController</servlet-name>
        <url-pattern>/user/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTEditPostController</servlet-name>
        <url-pattern>/marketing/editpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTInsertPostController</servlet-name>
        <url-pattern>/marketing/insertpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTPostListController</servlet-name>
        <url-pattern>/marketing/postlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTViewPostController</servlet-name>
        <url-pattern>/marketing/viewpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTEditSliderController</servlet-name>
        <url-pattern>/marketing/editslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTViewSliderController</servlet-name>
        <url-pattern>/marketing/viewslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTSliderChangeStatusController</servlet-name>
        <url-pattern>/marketing/sliderchangestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTSliderListController</servlet-name>
        <url-pattern>/marketing/sliderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/customer/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/customer/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailsController</servlet-name>
        <url-pattern>/customer/cartdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCartController</servlet-name>
        <url-pattern>/customer/deleteproductcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityController</servlet-name>
        <url-pattern>/customer/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/customer/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/customer/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/customer/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/account/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/account/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/account/sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/account/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderController</servlet-name>
        <url-pattern>/order/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInformationController</servlet-name>
        <url-pattern>/order/orderinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/comment/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/comment/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordProcessingController</servlet-name>
        <url-pattern>/comment/passwordprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/comment/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTchangeStatusPostController</servlet-name>
        <url-pattern>/marketing/changestatuspost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTProductListController</servlet-name>
        <url-pattern>/marketing/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTProductDetailsController</servlet-name>
        <url-pattern>/marketing/productdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTEditProductController</servlet-name>
        <url-pattern>/marketing/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTInsertProductController</servlet-name>
        <url-pattern>/marketing/insertproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTChangeProductStatusController</servlet-name>
        <url-pattern>/marketing/changeproductstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleOrderListController</servlet-name>
        <url-pattern>/sale/orderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/account/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailController</servlet-name>
        <url-pattern>/marketing/feedbackdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContactController</servlet-name>
        <url-pattern>/customer/cartcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListController</servlet-name>
        <url-pattern>/marketing/feedbacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADSettingListController</servlet-name>
        <url-pattern>/admin/settinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusSettingController</servlet-name>
        <url-pattern>/admin/settingchangestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCompletionController</servlet-name>
        <url-pattern>/customer/cartcompletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADViewSettingController</servlet-name>
        <url-pattern>/admin/viewsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADEditSettingController</servlet-name>
        <url-pattern>/admin/editsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADAddSettingController</servlet-name>
        <url-pattern>/admin/addsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeatureListController</servlet-name>
        <url-pattern>/admin/featurelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessResetPassword</servlet-name>
        <url-pattern>/account/processresetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/customer/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerList</servlet-name>
        <url-pattern>/marketing/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTDashboardController</servlet-name>
        <url-pattern>/marketing/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardController</servlet-name>
        <url-pattern>/sale/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileController</servlet-name>
        <url-pattern>/account/updateuserprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartFromOrder</servlet-name>
        <url-pattern>/order/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductOrder</servlet-name>
        <url-pattern>/order/deleteproductorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/order/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/order/updateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityOrderController</servlet-name>
        <url-pattern>/order/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCustomer</servlet-name>
        <url-pattern>/marketing/addnewcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/marketing/customeredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/marketing/customerview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
